<% title 'Cities list in '+state_full_name(@state_name) %>
<section class="content-main dirctory mortgage-rates-state">
  <div class="container">
    <div class="directory-box">
      <h1>Cities List in <%=state_full_name(@state_name)%></h1>
        <div class="directory-links-box">
          <%@counter=0%>
           <%@cities.each do |city|%>
              <% @counter = @counter+1 %>
              <div class="col-xs-12 col-md-4">
                <%if @flag == 'mortgage'%>
                  <%current_path = city_home_mortgage_rates_path(state: city.state_code, city: city.city.tr(' ', '+'))%>
                <%elsif @flag == 'refinance'%>
                  <%current_path = city_home_refinance_rates_path(state: city.state_code, city: city.city.tr(' ', '+'))%>
                <%end%>      

                <%=form_tag current_path, id: "city_form"+@counter.to_s, method: :post do |f| %>
                      <%=hidden_field_tag 'city_id', city.id%>  
                    <%= link_to city.city,"javascript:;" ,class: "submit_city", id: "city_list_"+@counter.to_s%>
                  <%end%>
  
               <%#=link_to city.city, city_home_mortgage_rates_path(state: city.state_code, city: city.city.tr(' ', '+'))%>
              </div>      
           <%end%>   
        </div>                 
    </div>
  </div>
</section>
<script>
$(document).on("mousedown",".submit_city",function(e){
    e.preventDefault();
    if (e.which === 1)
    {
      var getId = $(this).attr('id');
      getId = getId.split('_');
      getId = getId[2];
      $("#city_form"+getId).submit();
    }
    else
      {
        var getId = $(this).attr('id');
        getId = getId.split('_');
        getId = getId[2];
         $("#city_form"+getId).attr('target','_blank');
        $("#city_form"+getId).submit();
      }

  });
</script>