<!-- directory bank content start-->
<% title 'Mortgage Costs by Bank'+'-'+@alphabet %>
<section class="content-main dirctory mortgage-rates-state state-bank-page-list">
  <div class="container">
     <div class="directory-box">
        <h1>Mortgage Costs by Bank - <%=@alphabet%></h1>
        <div class="directory-links-box">
          <%@counter= 0%>
           <%@banks.in_groups(@banks.size.quo(link_calculate(@banks.size)).ceil, false) do |bank|%>              
              <%if @counter % 3 == 0%>
                <div class= 'row'>
              <%end%>
              <div class="col-xs-12 col-md-4 " >
                  <%@counter += 1%>
                  <%if @flag == 'mortgage_loan'%>
                    <%current_path =mortgage_banks_list_path(bank_from: bank.first.id, bank_to: bank.last.id,bank_list: customize_path(bank.first.name, bank.last.name), alphabet: @alphabet)%>
                  <%elsif @flag == 'personal_loan'%>
                    <%current_path = personal_loan_state_banks_list_path(bank_from: bank.first.id, bank_to: bank.last.id,bank_list: customize_path(bank.first.name, bank.last.name), alphabet: @alphabet)%>  
                  <%else %>
                    <%current_path = auto_loan_state_banks_list_path(bank_from: bank.first.id, bank_to: bank.last.id,bank_list: customize_path(bank.first.name, bank.last.name), alphabet: @alphabet)%>             
                  <%end%>  
                    <%=link_to bank.first.name+' to '+ bank.last.name, current_path %>    
              </div>
              <%if @counter%3 == 0%>
                </div>
              <%end%>     
           <%end%>   
        </div>  
     </div>
  </div>
</section>
<!-- directory bank content end--> 