<% title 'Bank list'%>
<section class="content-main dirctory mortgage-rates-state">
  <div class="container">
    <div class="directory-box">
      <h1>Bank List </h1>
        <div class="directory-links-box">
          <%@counter=0%>
           <%@banks.each do |bank|%>
              <%if @counter % 3 == 0%>
                <div class= 'row'>
              <%end%>
              <% @counter += 1 %>
              <div class="col-xs-12 col-md-4"> 
                <% if @flag == 'mortgage_loan' %>
                  <%current_path = bank_home_mortgage_loan_path(cert: bank.cert,bank_name: custom_path(bank.name)) %>
                <%elsif @flag == 'personal_loan' %>
                  <%current_path = bank_home_personal_loan_path(cert: bank.cert,bank_name: custom_path(bank.name)) %>
                <%else%>
                  <%current_path = bank_home_auto_loan_path(cert: bank.cert,bank_name: custom_path(bank.name)) %>
                <%end%>           
                <%=link_to bank.name+', '+bank.stname, current_path%>
              </div>
              <%if @counter%3 == 0%>
                </div>
              <%end%>         
           <%end%>   
        </div>                 
    </div>
  </div>
</section>