 <!-- dirctory mortgage rates in state start-->
         <section class="content-main dirctory mortgage-rates-state">
            <div class="container">
               <div class="directory-box">
                  <h1>Mortgage Rates in <%=state_full_name(@state_name)%></h1>
                  <div class="directory-links-box">
                     <div class="col-xs-12 col-md-4">
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                     </div>
                     <div class="col-xs-12 col-md-4">
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                        <a href="">Adelanto Home Loan and Mortgage Rates</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- dirctory mortgage rates in state end--> 