<!-- mortgage rates in state start-->
<% title 'Refinance Rates in '+state_full_name(@state_name)%>
<section class="content-main dirctory mortgage-rates-state">
   <div class="container">
      <div class="directory-box">
         <h1>Refinance  Rates in <%=state_full_name(@state_name)%></h1>
         <div class="directory-links-box">
            <div class="col-xs-12 col-md-3">
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
            </div>
            <div class="col-xs-12 col-md-3">
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
            </div>
            <div class="col-xs-12 col-md-3">
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
               <a href="">Agoura Hills Refinance Rates</a>
            </div>
            <div class="col-xs-12 col-md-3">
               <a href="">Las Vegas  city  Hills Refinance Rates</a>
               <a href="">Las Vegas  city  Hills Refinance Rates</a>
               <a href="">Las Vegas  city  Hills Refinance Rates</a>
               <a href="">Las Vegas  city  Hills Refinance Rates</a>
               <a href="">Las Vegas  city  Hills Refinance Rates</a>
               <a href="">Las Vegas  city  Hills Refinance Rates</a>
               <a href="">Las Vegas  city  Hills Refinance Rates</a>
            </div>
         </div>
      </div>
      <div class="pagination">
         <a class="arrows-pagination" href="#">&laquo;</a>
         <a href="#">1</a>
         <a class="active" href="#">2</a>
         <a href="#">3</a>
         <a href="#">4</a>
         <a href="#">5</a>
         <a class="arrows-pagination" href="#">&raquo;</a>
      </div>
   </div>
</section>
<!-- mortgage rates in state end--> 