<div class="container">
  <div class="blog-top-cntnt">
    <h4>Research from Economics and Loan Experts</h4>
    <p>Utilize the following research to understand macroeconomic effects and how they may influence the timing and stability of the market and your decision.</p>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="blog-post-box">
        <% @posts.each do |post| %>
          <%= render :partial => 'post', :locals => {:post => post} %>
        <% end %>
      </div>
    </div>
    <!--main content end-->
       <%= render 'partials/butter_cms_side_form'%>
  </div>
  <!-- Pagination links -->
  <div>
    <% if @previous_page %>
      <%= link_to "Prev", buttercms_blog_path(:page => @previous_page) %>
    <% end %>

    <% if @next_page %>
      <%= link_to "Next", buttercms_blog_path(:page => @next_page) %>
    <% end %>
  </div>
</div>