<!-- from for Upload CSV File  -->
<%= form_for :dump, :url=>{:action=>"import_csv"}, :html => { :multipart => true, :id => 'import_csv' } do |f| %>
  <table>
    <tr>
      <td>
        <label for="dump_file">
          Select a CSV File :
        </label>
      </td>
      <td>
        <%= f.file_field :file , required:true,label:false%>
      </td>
      <td>
        <label for="model">
          Select a Type :
        </label>
      </td>
      <td>
        <%= select_tag "model", options_for_select([["Loan Officers","LoanOfficer"],["Institutions","Institution"],["Factual Mortgage companies","Factual Mortgage companies"],["Cities","Cities"],["FdicBankAssetsSoldAndSecuritized","FdicBankAssetsSoldAndSecuritized"],["FdicCarryingAmountOfAssetsCoveredByFdicLossShareAgreement","FdicCarryingAmountOfAssetsCoveredByFdicLossShareAgreement"],["FdicGoodwillAndOtherIntangible","FdicGoodwillAndOtherIntangible"],["FdicLoanChargeOffsAndRecovery","FdicLoanChargeOffsAndRecovery"],["FdicMaximumAmountOfCreditExposureRetained","FdicMaximumAmountOfCreditExposureRetained"],["FdicNetLoansAndLease","FdicNetLoansAndLease"],["FdicPastDueAndNonaccrualAsset","FdicPastDueAndNonaccrualAsset"],["FdicSecurity","FdicSecurity"],["FdicTotalManagedAssetsHeldInFiduciaryAccount","FdicTotalManagedAssetsHeldInFiduciaryAccount"],["FdicTotalUnusedCommitment","FdicTotalUnusedCommitment"],["FdicUsGovernmentObligation","FdicUsGovernmentObligation"],["FdicUnusedCommitment","FdicUnusedCommitment"]]),{include_blank: "Select a Type", required: true}%>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag 'Submit' %>
      </td>
    </tr>
  </table>
<% end %>

<style>
  #import_csv td {
    position: relative;
  }
  #import_csv label.error {
    position: absolute;
    left: 5px;
    bottom: -13px;
    font-weight: normal;
    color: red;
    text-transform: none !important;
  }
</style>
