<!-- footer start-->
	 <footer>
		<div class="container">
		   <ul>
			  <li><a href="">About</a></li>
			  <li><a href="">Mortgage Rates</a></li>
			  <li><a href="">Refinance Rates</a></li>
			  <li><a href="">Bank Rates</a></li>
			  <li class="last-no-bordr"><a href="">Research</a></li>
		   </ul>
		   <span>© 2017 Pureloan.com  All rights reserved. </span>
		</div>
	 </footer>
	 <!-- footer end-->
<%#= javascript_include_tag "jquery.min"%>
<%= javascript_include_tag "bootstrap.min"%>
<%= javascript_include_tag "custom"%>
