<!-- dirctory mortgage state in state start-->
<% title 'Cities in '+state_full_name(@state_name) %>
<section class="content-main dirctory mortgage-rates-state">
  <div class="container">
    <div class="directory-box">
       <h1>Cities in <%=state_full_name(@state_name)%></h1>
          <div class="directory-links-box">
             <%@cities.in_groups(@cities.size.quo(link_calculate(@cities.size)).ceil, false) do |city|%>
                <div class="col-xs-12 col-md-4">               
                  <%if @flag == 'mortgage'%>
                    <% current_path = mortgage_state_cities_list_path(state: city.first.state_code, city_list: (city.first.city+'_'+city.last.city).tr(" ", "+"), city_from: city.first.id, city_to: city.last.id)%>
                  <%elsif @flag == 'refinance'%>
                    <% current_path = refinance_state_cities_list_path(state: city.first.state_code, city_list: (city.first.city+'_'+city.last.city).tr(" ", "+"), city_from: city.first.id, city_to: city.last.id)%> 
                  <%end%>
                  <%= link_to city.first.city+' to '+city.last.city, current_path %>  
              </div>      
          <%end%>   
        </div>                 
    </div>
  </div>
</section>
<!-- dirctory mortgage state in state end--> 