<!-- banner start-->
<section class="banner">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="banner-headings">
      <h3>Compare customized mortgage rates instantly</h3>
      <p>Average savings of $12,860 vs standard rates</p>
    </div>
    <!-- banner main search start-->
    <div class="search-main adv-search-mb home-main-search">
      <div class="row">
        <div class="col-md-2 col-xs-6">
          <div class="search-cat zip-srch">
            <label>Zip Code</label>
            <input type="text" placeholder="123456" value= <%=user_location_info.present? ? user_location_info.data["postal"].present? ? user_location_info.data["postal"] : nil : nil%> >  <!-- calling function defined in Application helper-->
          </div>
        </div>  
        <div class="col-md-2 col-xs-6">
          <div class="search-cat purpse-srch">
            <label>Purpose</label>
            <select>
              <option>Refinance</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">  
          <div class="search-cat price-srch">
            <label>Home Price</label>
            <div class="dollar-icn">$</div>
            <input type="text" placeholder="123456">
          </div>
        </div>
        <div class="col-md-2">  
          <div class="search-cat price-srch">
            <label>Down Payment</label>
            <div class="dollar-icn">$</div>
            <input type="text" placeholder="123456">
          </div>
        </div>
        <div class="col-md-2">  
          <div class="search-cat cr-srch">
            <label>Credit Score</label>
            <select>
              <option>750+</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">  
          <button class="rates-btn hm-search-btn-nw">Get Rates</button>
        </div>
      </div>    

      <div class="search-adv-option-box">
        <a href="javascript:void(0);" id="adv-option" class="desktop-btn">Advanced Options
          <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
        </a>
        <a href="" data-toggle="modal" data-target="#advance-srch-mb"  class="mb-btn">Advanced Options
          <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
        </a>
        <div class="search-adv-option" id="search-adv-option-inner">
          <div class="row">
            <h4>desired loan programs?</h4>
            <div class="col-xs-12 col-md-2 advance-check">
              <div class="form-group"><input type="checkbox" value=""> 30 Year Fixed</div>
              <div class="form-group"><input type="checkbox" value=""> 20 Year Fixed</div>
              <div class="form-group"><input type="checkbox" value=""> 15 Year Fixed</div>
              <div class="form-group"><input type="checkbox" value=""> 10 Year Fixed</div>
              <div class="form-group"><input type="checkbox" value=""> 7/1 Arm</div>
              <div class="form-group"><input type="checkbox" value=""> 5/1 Arm</div>
              <div class="form-group"><input type="checkbox" value=""> 3/1 Arm</div>
            </div>
            <div class="col-xs-12 col-md-3 drpdown-box">
              <select>
                <option>Select Occupancy</option>
              </select>
              <select>
                <option>Select Occupancy</option>
              </select>
              <select>
                <option>Select Occupancy</option>
              </select>
              <select>
                <option>Select Occupancy</option>
              </select>
            </div>
            <div class="col-xs-12 col-md-4 drpdown-box">
              <select>
                <option>Select Prepay Penalty</option>
              </select>
              <label>Cash Reserves (mos)</label>
              <select>
                <option>$ 15</option>
              </select>
              <label>Monthly Debt</label>
              <select>
                <option>$ 0</option>
              </select>
              <label>Monthly Income</label>
              <select>
                <option>$ 5,000</option>
              </select>
            </div>
            <div class="col-xs-12 col-md-3 advance-check">
              <p>Owned Properties <span>01</span></p>
              <div class="form-group"><input type="checkbox" value=""> Interest Only</div>
              <div class="form-group"><input type="checkbox" value=""> Hazard Insuarance Waived</div>
              <div class="form-group"><input type="checkbox" value=""> Property Taxes Waived</div>
              <div class="form-group"><input type="checkbox" value=""> First Time Home Buyer</div>
              <div class="form-group"><input type="checkbox" value=""> Non Perm Resident Alien</div>
              <div class="form-group"><input type="checkbox" value=""> Foreign National</div>
              <div class="form-group"><input type="checkbox" value=""> Miltary</div>
              <div class="form-group"><input type="checkbox" value=""> Rular</div>
            </div>
            <div class="col-xs-12 col-md-3 menu-up-adv-search"><a href=""><img src="assets/menu-up_03.png" alt=""/></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner main search end-->
  </div>
</section>
<!-- banner end-->
<!-- search result feed start-->
<section class="content-main">
  <div class="container">
    <p class="main-para-hdng">Pureloan searches all the major banks and lenders to give you the best rates. Here are a few sample rates
      in your area for 30-year fixed, 15year fixed, and 5/1 Adjustable Rate Mortgage (ARM).
    </p>

    <ul class="nav nav-tabs rates-tab">
      <li class="active"><a data-toggle="tab" href="#30years" class="light-tab">30 Year</a></li>
      <li><a data-toggle="tab" href="#15years" class="medium-light-tab">15 Year</a></li>
      <li><a data-toggle="tab" href="#15years-2" class="dark-tab">15 Year</a></li>
    </ul>

    <div class="tab-content rates-tab-content">
      <div id="30years" class="tab-pane fade in active">  
        <div class="cntnt-list-box">
          <h5>30-Year Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
            <div class="inner-logo">
              <img src="assets/pic1_06.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
            <div class="inner-logo">
              <img src="assets/pic2_03.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
            <div class="inner-logo">
              <img src="assets/pic3_07.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div id="15years" class="tab-pane fade">  
        <div class="cntnt-list-box">
          <h5>15-Years Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
            <div class="inner-logo">
              <img src="assets/pic1_06.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
            <div class="inner-logo">
              <img src="assets/pic2_03.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
            <div class="inner-logo">
              <img src="assets/pic3_07.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div id="15years-2" class="tab-pane fade">  
        <div class="cntnt-list-box">
          <h5>15-Years Fixed Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
          <div class="cntnt-list-inner gray-bg col-md-12">
            <div class="inner-logo">
              <img src="assets/pic1_06.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner col-md-12">
            <div class="inner-logo">
              <img src="assets/pic2_03.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="cntnt-list-inner gray-bg col-md-12">
            <div class="inner-logo">
              <img src="assets/pic3_07.png" alt="">
              <a href="">Bank of America</a>
              <p>NMLS ID 54645</p>
            </div>
            <div class="inner-block">
              <span class="hdng-big">4.356% Rate</span>
              <p class="hiden-txt-mb">4.145% APR</p>
              <p>30 Year Fixed</p>
              <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
            </div>
            <div class="inner-block-combined">
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Expected</span> Savings</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$3,072/mo</span>
                <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
              </div>
              <div class="inner-block inner-block-small">
                <span class="hdng-big">$23,078</span>
                <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              </div>
            </div>
            <div class="inner-block-btn">
              <img src="assets/heart_03.png" alt="" class="wishlist-icn-fill">
              <a href="" data-toggle="modal" data-target="#view-details-popup" class="dtail-btn">View Details</a>
              <a href="" class="lendr-web-link">Lender Website</a>
            </div>
            <div class="mb-scroll-icn">
              <a href="" data-toggle="modal" data-target="#view-details-popup"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>