<!-- experts block start--> 
<section class="home-experts-box">
   <div class="container">
      <h2 class="mb-hide">Mortgage Experts that Specialize in Albany, CA</h2>
      <h2 class="mb-only">Mortgage Experts in Albany, CA</h2>
      <div class="home-experts">
         <div class="row">
            <div class="col-xs-12 col-md-9">
               <div class="desktop-experts">
                  <div class="col-xs-12 col-md-3 text-center">
                     <img src="images/mortgage-experts_03.png" alt="">
                     <h3 class="hiden-txt-mb">James Adamson</h3>
                     <a href=""><img src="images/email_07.png" alt=""> jadr32@gmil.com</a>
                     <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
                  </div>
                  <div class="col-xs-12 col-md-3 text-center">
                     <img src="images/mortgage-experts_03.png" alt="">
                     <h3 class="hiden-txt-mb">James Adamson</h3>
                     <a href=""><img src="images/email_07.png" alt=""> jadr32@gmil.com</a>
                     <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
                  </div>
                  <div class="col-xs-12 col-md-3 text-center">
                     <img src="images/mortgage-experts_03.png" alt="">
                     <h3 class="hiden-txt-mb">James Adamson</h3>
                     <a href=""><img src="images/email_07.png" alt=""> jadr32@gmil.com</a>
                     <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
                  </div>
                  <div class="col-xs-12 col-md-3 text-center mb-hide">
                     <img src="images/mortgage-experts_03.png" alt="">
                     <h3 class="hiden-txt-mb">James Adamson</h3>
                     <a href=""><img src="images/email_07.png" alt=""> jadr32@gmil.com</a>
                     <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
                  </div>
               </div>
               <!--experts slider for mobile-->
               <div class="mb-experts-slider">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     <!-- Wrapper for slides -->
                     <div class="carousel-inner">
                        <div class="item active">
                           <div class="col-xs-12 col-md-12 text-center">
                              <img src="images/mortgage-experts_03.png" alt="">
                              <h3>James Adamson</h3>
                              <a href=""><img src="images/email_07.png" alt=""> johnsmith_234@gmil.com</a>
                              <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="col-xs-12 col-md-12 text-center">
                              <img src="images/mortgage-experts_03.png" alt="">
                              <h3>James Adamson</h3>
                              <a href=""><img src="images/email_07.png" alt=""> johnsmith_234@gmil.com</a>
                              <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="col-xs-12 col-md-12 text-center">
                              <img src="images/mortgage-experts_03.png" alt="">
                              <h3>James Adamson</h3>
                              <a href=""><img src="images/email_07.png" alt=""> johnsmith_234@gmil.com</a>
                              <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
                           </div>
                        </div>
                        <div class="item">
                           <div class="col-xs-12 col-md-12 text-center">
                              <img src="images/mortgage-experts_03.png" alt="">
                              <h3>James Adamson</h3>
                              <a href=""><img src="images/email_07.png" alt=""> johnsmith_234@gmil.com</a>
                              <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
                           </div>
                        </div>
                     </div>
                     <!-- Left and right controls -->
                     <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                     <img src="images/expert-slider-arrow-left.png" alt="">
                     </a>
                     <a class="right carousel-control" href="#myCarousel" data-slide="next">
                     <img src="images/expert-slider-arrow-right.png" alt="">
                     </a>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-md-3 expert-cntnt-btn">
               <div class="expert-cntnt-btn-inner">
                  <p class="mb-hide">Become an Expert on X.com and reach hundreds of thousands of home buyers or refi customers every month!</p>
                  <p class="mb-only">Become an Expert on X.com and reach hundreds of thousands of home buyers.</p>
            <div class="submit-aplicatn-btn-box">
                  <a href="" data-toggle="modal" data-target="#expert-app-overlay" class="">Submit Application</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- experts block end-->


<%begin%>
  <%@counter = 0%>
  <%IO.foreach( "/home/talentelgia/Downloads/Relativity loan search engine documents/Freddie Mac Loan Level data/Freddie Mac Data/2016/historical_data1_Q12016/historical_data1_Q12016.txt" ) do |line|%>
    <%@counter = @counter+1%>
   <%byebug%>
   <%exit!%>
   <%end%>
<%rescue => e%>
  <%=e.message%>
<%end%>