
<!-- experts block start-->
<section class="home-experts-box">
   <div class="container">
      <h2>Mortgage Experts that Specalize in Albany, CA</h2>
      <div class="home-experts">
         <div class="row">
            <div class="col-xs-12 col-md-9">
               <div class="col-xs-12 col-md-3 text-center">
                  <%= image_tag("mortgage-experts_03", :alt => "Expert") %>
                  <h3>James Adamson</h3>
                  <a href=""><img src="images/email_07.png" alt=""> jadr32@gmil.com</a>
                  <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
               </div>
               <div class="col-xs-12 col-md-3 text-center">
                  <%= image_tag("mortgage-experts_03", :alt => "Expert") %>
                  <h3>James Adamson</h3>
                  <a href=""><img src="images/email_07.png" alt=""> jadr32@gmil.com</a>
                  <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
               </div>
               <div class="col-xs-12 col-md-3 text-center">
                  <%= image_tag("mortgage-experts_03", :alt => "Expert") %>
                  <h3>James Adamson</h3>
                  <a href=""><img src="images/email_07.png" alt=""> jadr32@gmil.com</a>
                  <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
               </div>
               <div class="col-xs-12 col-md-3 text-center">
                  <%= image_tag("mortgage-experts_03", :alt => "Expert") %>
                  <h3>James Adamson</h3>
                  <a href=""><img src="images/email_07.png" alt=""> jadr32@gmil.com</a>
                  <a href=""><img src="images/phone_07.png" alt=""> (531) 574-5221</a>
               </div>
            </div>
            <div class="col-xs-12 col-md-3 expert-cntnt-btn">
               <div class="expert-cntnt-btn-inner">
                  <p>Become an Expert on X.com and reach hundreds of thousands of home buyers or refi customers every month!</p>
                  <a href="" class="">Submit Application</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- experts block end-->
