<!-- Mailer for sending queries to admin email -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi Admin</h3>
      <b><u>Research Query Details: </b></u> <br/>
        Name: <b> <%= @name %> </b> <br/>
        Email: <i> <%= @email%> </i> <br/>
        Website: <i> <%= @website%> </i> <br/>
        Research Summary: <p><%= @research_summary%> </p>
  </body>
</html>
