// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Lato', sans-serif;
}

.top-nav-bar {
  margin-bottom: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #19214d;
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #19214d;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-nav>li>a {
  padding-top: 38px;
  padding-bottom: 37px;
  text-transform: uppercase;
  font-size: 17px;
  color: #162647 !important;
}

.navbar-default {
  background-color: #fff;
  /*border-color: #fff;*/
  background-color: transparent;
}

.login-link {
  border: 2px solid #162647;
  color: #162647 !important;
  border-radius: 25px;
  line-height: normal !important;
  padding: 10px 35px !important;
  margin: 26px 0;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: 500;
}

.modal-btn {
  display: none;
}

.top-nav-bar .navbar-nav>li.active {
  border-top: 5px solid #162647;
}

.top-nav-bar .navbar-nav>li {
  border-top: 5px solid #fff;
}

.top-nav-bar .navbar-nav>.active>a,
.top-nav-bar .navbar-nav>.active>a:hover,
.top-nav-bar .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: #162647 !important;
}

.top-nav-bar .navbar-brand {
  height: auto;
  padding: 36px 15px;
}

.form-wrapper {
  background-color: #0093D8;
  padding: 20px 0;
}

.form-wrapper .form-control {
  border-color: #fff;
  height: 44px;
  box-shadow: none;
  color: #19214d;
  font-weight: 600;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
}

.flex-group input,
.flex-group .search-section {
  flex: 0 0 50%;
  max-width: 50%;
  border-right: 1px solid #b7c5df;
}

.flex-group select {
  border-radius: 4px 0px 0px 4px;
}

.flex-group input {
  border-radius: 0 4px 4px 0;
}

.form-wrapper input {
  padding: 6px 20px 6px 25px;
}

.form-row .col-md-3,
.form-row .col-md-4,
.form-row .col-md-8 {
  padding-right: 10px;
  padding-left: 10px;
}

.form-wrapper label {
  font-weight: 500;
  color: #fff;
  font-size: 13px;
}

.form-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container-fluid {
  max-width: 1366px;
  margin: 0 auto;
}

.primary-btn {
  background-color: #FF6032;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  border-bottom: 4px solid #b84210;
  padding: 8px 15px;
  font-weight: 400;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: #FF6032;
  color: #fff;
}

.border-btn {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  border: 2px solid #fff;
  padding: 8px;
  font-weight: 400;
}

.border-btn:hover, .border-btn:focus {
  background-color: transparent;
  color: #fff;
}

.link-to {
  color: #fff;
  text-decoration: underline;
  font-weight: 300;
  padding-top: 5px;
  display: block;
}
.link-to:hover{
  color: #fff;
}
.contain-wrapper {
  padding: 50px 0;
}

.contain-wrapper p {
  margin: 0 0 20px;
  color: #162647;
  font-size: 22px;
}

.ex-breakdown h1 {
  display: block;
  background-color: #46A9DD;
  color: #fff;
  text-transform: capitalize;
  font-size: 24px;
  padding: 12px 25px;
  border-radius: 6px 6px 0 0;
  font-weight: 700;
  margin: 30px 0 0;
}

.ex-breakdown .table tr th {
  color: #19224d;
  font-weight: 400;
  padding: 18px;
  border-bottom: 2px solid #c8d5e6;
  font-size: 20px;
  text-align: inherit;
}

.ex-breakdown .table thead tr {
  background-color: #eee;
}

.ex-breakdown .table-striped>tbody>tr:nth-of-type(2n+1) {
  background-color: #fff;
}

.ex-breakdown .table-striped>tbody>tr {
  background-color: #eee;
}

.ex-breakdown .table tbody tr td {
  border-top: none;
  padding: 18px;
  font-size: 20px;
  color: #19224d;
  font-weight: 400;
}

.table-footer td {
  color: #FF6031 !important;
  font-weight: 600 !important;
}

.table-footer {
  border-top: 2px solid #c8d5e6;
}

.graph-wrapper {
  border: 3px solid #e9f2f9;
  padding: 25px;
  border-top: none;
  border-radius: 0 0 12px 12px;
}

.scroll-table {
  height: 600px;
}

.padding-20 {
  padding: 20px;
}

.compare-table .table-border {
  border: 2px solid #c8d5e6;
}

.ex-breakdown .compare-table .table-border tbody tr td {
  border-right: 2px solid #c8d5e6;
}

.ex-breakdown .compare-table .table thead tr {
  background-color: #ffffff;
}

.ex-breakdown .compare-table .table-striped>tbody>tr:nth-of-type(2n+1) {
  background-color: #eee;
}

.ex-breakdown .compare-table .table-striped>tbody>tr {
  background-color: #fff;
}

.padding-0 {
  padding: 0 !important;
}

.ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td:last-child {
  border: none;
}

.ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td {
  padding: 18px 10px 18px 25px;
}

.ex-breakdown .compare-table .table-striped tr th {
  font-size: 24px;
  padding: 10px;
  border-right: 2px solid #c8d5e6;
}

.ex-breakdown .compare-table .table-border tbody tr td:nth-child(2) {
  padding-right: 80px;
  text-align: right;
}

.ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td:nth-child(2) {
  padding-right: 80px;
  text-align: right;
}

.ex-breakdown .compare-table .table-border tbody tr td:nth-child(3) {
  padding-right: 80px;
  text-align: right;
}

.ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td:nth-child(3) {
  padding-right: 80px;
  text-align: right;
}

.graph-bx {
  border: 3px solid #e9f2f9;
  border-radius: 6px;
  padding: 15px;
}

.graph-bx h2 {
  font-size: 20px;
  color: #a4aec9;
  margin: 0;
  padding: 0;
}

.graph-container {
  padding: 15px 0;
}

.graph-bx p {
  margin: 0;
  font-size: 18px;
}

footer {
  padding: 0 0 15px;
}

footer .footer-link {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer-link li {
  display: inline-block;
  border-right: 1px solid #8e8e8e;
  padding: 0 15px;
}

footer .footer-link li a {
  text-transform: uppercase;
  color: #8e8e8e;
  font-size: 14px;
  line-height: normal;
}

footer .footer-link li:last-child {
  border: none;
  padding-right: 0;
}

footer .footer-link li:first-child {
  padding-left: 0;
}

footer .copyright {
  text-transform: uppercase;
  color: #8e8e8e;
  font-size: 14px;
  line-height: normal;
  text-align: right;
}

.dollar-icn {
  position: absolute;
  color: #19214d;
  font-size: 15px;
  left: 22px;
  z-index: 99;
  bottom: 27px;
  font-weight: bold;
}

.search-section {
  position: relative;
}

.search-section::before {
  content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 22px;
  padding-right: 0.5em;
  position: absolute;
  bottom: 6px;
  right: 0;
  z-index: 9;
}

#payoff_schedule_modal .modal-content {
  border-radius: 0;
  box-shadow: none;
  border: none;
}

#payoff_schedule_modal .modal-dialog {
  width: 100%;
  margin: 0 auto;
}

#payoff_schedule_modal .modal-header {
  padding: 15px;
  border-bottom: none;
  background-color: #58a9e1;
  color: #fff;
}

#payoff_schedule_modal .modal-title {
  display: inline;
}

.close,
.close:hover,
.close:focus {
  color: #fff;
  opacity: 1;
}

.monthly-pay-none {
  display: none;
}

@media (max-width: 991px) {
  .dollar-icn {
    bottom: 11px;
  }
  .container {
    width: 100%;
  }
  .form-wrapper {
    background-image: url("../images/home-search-bg.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
  .link-to {
    margin-bottom: 15px;
  }
}

@media (max-width: 949px) {
  .top-nav-bar .navbar-brand {
    padding: 15px 5px;
  }
  .navbar-nav>li>a {
    font-size: 14px;
    padding: 15px 6px;
  }
  .ex-breakdown .compare-table .table-striped tr th {
    font-size: 18px;
    padding: 5px;
  }
  footer .footer-link,
  footer .copyright {
    text-align: center;
  }
  .navbar-default .navbar-brand img {
    width: 80%;
  }
  .login-link {
    padding: 5px 15px !important;
    margin: 10px 0;
  }
  .contain-wrapper p {
    font-size: 16px;
  }
  .ex-breakdown .table tbody tr td {
    padding: 15px;
    font-size: 16px;
  }
  .ex-breakdown h1 {
    font-size: 20px;
  }
  .ex-breakdown .compare-table .table-border tbody tr td:nth-child(2),
  .ex-breakdown .compare-table .table-border tbody tr td:nth-child(3),
  .ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td:nth-child(2),
  .ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td:nth-child(3) {
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .top-nav-bar .navbar-brand {
    height: auto;
    padding: 11px 15px;
  }
  .form-wrapper {
    padding: 20px 10px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .navbar-nav {
    margin: 0 auto;
  }
  .login-link {
    margin: 0 0 10px;
  }
  .contain-wrapper {
    padding: 15px 0;
  }
  .contain-wrapper .container {
    padding: 0;
  }
  .contain-wrapper p {
    margin: 0 0 10px;
    color: #162647;
    font-size: 14px;
    padding: 0 20px;
  }
  .ex-breakdown h1 {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 0;
    margin: 30px 0 0;
  }
  .ex-breakdown .table tr th,
  .ex-breakdown .table tbody tr td,
  .ex-breakdown .compare-table .table-striped tr th {
    padding: 10px 20px;
    font-size: 14px;
  }
  .graph-wrapper {
    border: none;
    padding: 15px;
    border-radius: 0;
  }
  .scroll-table {
    height: 400px;
  }
  .padding-20 {
    padding: 20px 0;
  }
  .compare-table .table-border {
    border: none;
    border-top: 1px solid #c8d5e6;
  }
  .ex-breakdown .compare-table .table-border tbody tr td,
  .ex-breakdown .compare-table .table-striped tr th {
    border-right: 1px solid #c8d5e6;
  }
  .ex-breakdown .table tr th {
    border-bottom: 1px solid #c8d5e6;
  }
  .ex-breakdown .compare-table .table-border tbody tr td:nth-child(2),
  .ex-breakdown .compare-table .table-border tbody tr td:nth-child(3),
  .ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td:nth-child(2),
  .ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td:nth-child(3) {
    padding-right: 10px;
  }
  .graph-wrapper {
    padding: 15px 20px;
    border-radius: 0;
  }
  .graph-bx {
    border: none;
    border-radius: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .graph-bx p {
    padding: 0 !important;
  }
  .tow-graph-wrapper p {
    padding: 0 !important;
  }
  footer .footer-link {
    padding: 0 0 15px;
    text-align: center;
  }
  footer .copyright {
    text-align: center;
  }
  #payoff_schedule_modal {
    background: #fff;
  }
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
  .modal-btn {
    display: block;
  }
  .toggle-btn{
    display: none;
  }
}

@media (max-width: 480px) {
  .ex-breakdown .table tr th,
  .ex-breakdown .table tbody tr td,
  .ex-breakdown .compare-table .table-striped tr th,
  .ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td {
    padding: 10px 15px;
  }
  .ex-breakdown h1 {
    font-size: 14px;
    padding: 10px 15px;
  }
  .graph-wrapper {
    padding: 15px 15px;
    border-radius: 0;
  }
  .contain-wrapper p {
    padding: 0 15px;
  }
  footer .footer-link li {
    padding: 0 5px;
  }
  footer .footer-link li a,
  footer .copyright {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .form-wrapper {
    padding: 20px 0px;
  }
  .contain-wrapper p {
    padding: 0 10px;
    font-size: 12px;
  }
  .ex-breakdown .table tr th,
  .ex-breakdown .table tbody tr td,
  .ex-breakdown .compare-table .table-striped tr th,
  .ex-breakdown .compare-table .table-border tbody tr td .sub-table tr td {
    padding: 10px 10px;
    font-size: 11px;
  }
  .ex-breakdown h1 {
    font-size: 14px;
    padding: 10px 10px;
  }
  .graph-wrapper {
    padding: 15px 10px;
  }
  .graph-bx h2 {
    font-size: 16px;
  }
}

